<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная страница{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="menu">
                <a href="/">Главная</a>
                <a href="/users">Пользователи</a>
                <a href="/add_user">Регистрация</a>
                <a href="/login/">Вход</a>
                <a href="/logout/">Выйти</a>
            </div>
        </div>

        <div id="content">
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock content %}
        </div>

        <div id="footer"></div>
    </div>
</body>
</html>